<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ company_name }} Job Listings</title>
  <link rel="stylesheet" href="/static/css/style.css"> <!-- External styles -->
</head>
<body>

  {% include 'navbar.html' %}

  <main>
    <header>
      <h1>{{ company_name }} Job Listings</h1>
    </header>

    <section class="job-list">
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </section>
  </main>

  {% include 'footer.html' %}

</body>
</html>
