<div class="border_body">
 <section>
    <h4>{{job['title']}}</h4>

  <div class='location'>
    <b>Location:</b>{{job['location']}}
  </div>
  {% if 'salary' in job %}
  <div class='salary'>
      <b>Salary:</b>{{job['salary']}}
  </div>
    {% endif %}
 </section> 
 <div class="left">
  <button type = "button" class="btn btn-outline-primary"><a href="https://www.indeed.com/applystart?jk=afece6001fb4eb54&from=vj&pos=bottom&mvj=0&spon=0&sjdu=YmZE5d5THV8u75cuc0H6Y26AwfY51UOGmh3Z9h4OvXg5vGL9KlDSJjhsV12Bbxx1vYsO0CyuPICnSwXLcy0obqS99oMqeZZD8AP_I0yzlvwnmVf8Z2yxcUbxH53ZEkWiFnCTqugwhkdJKeelPhi6nUAKr_6zUBRfi8klDWyK8_fxowCBFuwPYOmI11lQ39vkCITeI_Azw3KcSOf4X9Vh1Q&vjfrom=serp&astse=24177a70d9c4cfd9&assa=1269
    ">Apply</a></button>
 </div>
</div>   